<!DOCTYPE html>
<html>
  <head>
    <title>Demo: Rotating Docker Swarm Configs with Ansible</title>
  </head>
  <body>
    <p>
      This file is stored as a Docker Swarm config. Since the file contents
      depend on the date and time at which the file is generated, each playbook
      run will result in a different config.
    </p>
    <p>This page was templated at : {{ ansible_date_time.iso8601 }}</p>
  </body>
</html>
